.trigger {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--spacing-2);
}

.trigger:hover {
    background: var(--color-surface);
    border-radius: var(--radius-md);
    cursor: pointer;
}

.popover {
    width: fit-content;
    z-index: 10;
    display: flex;
    background: var(--color-bg);

    padding: var(--spacing-2);
    box-shadow: var(--shadow-card);
    border-radius: var(--radius-md);
}

.menu {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

.item {
    width: 100%;

    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    flex-wrap: nowrap;

    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--radius-md);

    cursor: pointer;

    transition: background-color 0.2s;
}

.item:hover {
    background: var(--color-surface);
}

.deleteItem:hover {
    background: var(--color-error);
    color: var(--color-text-on-primary);
}