.root {
	width: 100%;
	min-height: 0;
	flex: 1;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-6);
}

.list {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-2);
}

.spacer {
	height: var(--spacer-height);
	flex-shrink: 0;
}
