.surface {
  background-color: var(--color-surface);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-card);
}

.surface[data-variant="default"] {
  border: 1px solid var(--color-secondary);
}

.surface[data-bg-variant="default"] {
  background-color: var(--color-surface);
}

.surface[data-bg-variant="white"] {
  background-color: var(--color-bg);
}

.surface[data-variant="ghost"] {
  border: 1px solid transparent;
}
