.root {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: var(--spacing-2);
}

.title {
  min-width: 0;
  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}