

.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.label {
  display: inline-flex;
  align-items: baseline;
  color: var(--color-text-secondary);
}

.required {
  color: var(--color-error);
  font-size: var(--text-sm);
  line-height: 1;
}

.control {
  width: 100%;
}

.selectBody {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--spacing-2);
}

.error {
  color: var(--color-error);
}

.root[data-variant="select"] button {
  cursor: pointer;
}
.input[data-variant="select"] button:disabled,
.input[data-variant="select"][data-state="disabled"] button {
  cursor: not-allowed;
}

.input[data-variant="number"] input::-webkit-outer-spin-button,
.input[data-variant="number"] input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[data-variant="number"] input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.input[data-variant="number"] {
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}
