.wrap {
  position: relative;
  /* display: inline-block; */
}

.root {
  transition:
    box-shadow var(--duration-fast) var(--ease-standard),
    transform var(--duration-fast) var(--ease-standard);
}

.badge {
  position: absolute;
  right: -2px;
  bottom: -2px;
  z-index: 1;
  opacity: 0.8;
}

.wrap[data-size="s"] {
  width: 32px;
  height: 32px;
}

.wrap[data-size="m"] {
  width: 40px;
  height: 40px;
}

.wrap[data-size="l"] {
  width: 48px;
  height: 48px;
}

@media (prefers-reduced-motion: reduce) {
  .root {
    transition: none;
  }
}