.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  padding: var(--spacing-4);
}

.footer {
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.deleteButton {
  height: 100%;
  background: var(--color-error);
}
