@import "../shared/design/tokens.css";
@import "tailwindcss";

@layer base {

  html,
  body {
    height: 100%;
  }

  body {
    font-family: var(--font-sans, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji");
  }
}