.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  height: fit-content;

  border-radius: var(--radius-md);
  border: 1px solid transparent;

  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-semibold);

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  transition:
    background-color var(--duration-base) var(--ease-standard),
    border-color var(--duration-base) var(--ease-standard),
    border var(--duration-base) var(--ease-standard),
    color var(--duration-base) var(--ease-standard),
    box-shadow var(--duration-base) var(--ease-standard),
    transform var(--duration-base) var(--ease-standard);
}

/* Sizes */
.button[data-size="s"] {
  padding: var(--spacing-1) var(--spacing-2);
  font-size: var(--text-sm);
  /* height: var(--height-sm); */
}

.button[data-size="m"] {
  padding: var(--spacing-2) var(--spacing-4);
  font-size: var(--text-base);
  font-weight: var(--font-weight-semibold);
  /* height: var(--height-md); */
}

/* Variants */
.button[data-variant="default"] {
  background: var(--color-primary);
  color: var(--color-text-on-primary);
}

.button[data-variant="default"]:hover {
  opacity: 0.92;
}

.button[data-variant="muted"] {
  background: var(--background-card);
  color: var(--color-text-secondary);
  border-color: var(--color-secondary);
}

.button[data-variant="muted"]:hover {
  color: var(--color-text-primary);
  border: 1px solid var(--color-primary);
}

.button[data-variant="ghost"] {
  background: transparent;
  color: var(--color-text-secondary);
}

/* .button[data-variant="ghost"]:hover {
  border-color: var(--color-secondary);
} */

/* Press */
.button:active {
  transform: scale(0.96);
}

.button[data-state="pressed"] {
  transform: scale(0.96);
}

/* Focus */
.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px color-mix(in srgb, var(--color-focus) 20%, transparent);
}

/* Disabled */
.button:disabled {
  cursor: not-allowed;
  opacity: var(--opacity-disabled);
}

.button:disabled:hover {
  opacity: var(--opacity-disabled);
}
