.sheetInner {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.body {
    display: flex;
    overflow: auto;
    flex-direction: column;
    gap: var(--spacing-4);
}

.actions {
    position: sticky;
    bottom: 0;
    border-top: 1px solid var(--color-border);
    background: var(--color-surface);
    padding: var(--spacing-4);
}

.actionsButton {
    width: 100%;
}